body {
    background: linear-gradient(to bottom right, #2669ac, #031c61);
    margin: 0;
    height: 100vh;
}

#sideBar {
    background: linear-gradient(to bottom, silver, rgb(87, 86, 86));
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 80%;
    border-radius: 0 15px 15px 0;
    border: 5px solid black;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

#sideBar img{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: conatin;
}

#quoteTag {
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#quoteContainer p {
    opacity: 1;
    transition: opacity 2s ease-in-out;
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    padding: 0 20px;
    margin: 20px 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: calc(100% - 40px);
    box-sizing: border-box;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#indexHeader {
    background: rgb(32, 32, 32);
    margin: 0;
    padding: 0px;
    border: 0px;
    position: fixed;
    top: 0;
    left: 40%;
    right: 20%;
    border: 5px solid black;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navBar table {
    width: 100%;
    margin: 0 auto;
}

#navBar h1, a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#title {
    color: aqua;
}

#usable {
    position:absolute;
    top: 20%;
    left: 30%;
    right: 10%;
    /*
    Border property to help with debugging position
    border: 5px solid black;
    */
}

#usable h1, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    color: aqua;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    word-wrap: break-word;
    overflow-wrap: break-word;

}
